.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 186px;
    gap: 8px;
    font-family: inherit;
  }

  .hrs-filters .form__input--search {
    padding-left: 48px;
    height: 100%;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hrs-filters .checkbox-list {
    top: 94%;
}

.checkbox-item label {
    margin-bottom: 0;
    font-size: 16px;
}

.hrs-filters .btn-secondary {
    font-size: 16px;
    font-weight: 500;
}

.hrs-filters .form__radio-container {
    top: 94%;
}

.radio-value label {
    margin: 0;
    font-size: 16px;
}

.hrs-filters .salary-container {
    position: relative;
}

.hrs-filters .salary-content {
    width: 100%;
    position: absolute;
    top: 94%;
    left: 0;
    border-radius: 4px;
    z-index: 1;
}

.form__input--search::placeholder {
    font-size: 16px;
}

/* Media Queries */
@media screen and (max-width: 1024.9px) {
    .form {
      grid-template-columns: 1fr 1fr 186px;
    }

    .form__submit {
        grid-column: 3/4;
      }

      .city-container {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      .employment-type-container {
        grid-column: 2/3;
        grid-row: 3/4;
      }

      .salary-container {
        grid-column: 1/3;
        grid-row: 4/5;
      }

      .job-remote-container {
        grid-column: 1/3;
        grid-row: 5/6;
      }
  }
  
  @media screen and (max-width: 768.9px) {
    .form {
      grid-template-columns: 1fr;
    }

    .form__submit {
        grid-column: 1;
        grid-row: 9/10;
      }

      .checkbox-list {
        position: static;
      }

      .sector-container {
        grid-column: 1;
        grid-row: 2/3;
      }

      .level-container {
        grid-column: 1;
        grid-row: 3/4;
      }

      .language-container {
        grid-column: 1;
        grid-row: 4/5;
      }

      .city-container {
        grid-column: 1;
        grid-row: 5/6;
      }

      .employment-type-container {
        grid-column: 1;
        grid-row: 6/7;
      }

      .salary-container {
        grid-column: 1;
        grid-row: 7/8;
      }

      .salary-content {
        position: static;
      }

      .job-remote-container {
        grid-column: 1;
        grid-row: 8/9;
      }

      .form__radio-container {
        position: static;
      }
  }